// primary
$themeDarker:#fbfbfb;
$themeDark: #f8f8f8;
$themeDarkAlt: #f5f5f5;
$themeSecondary: #f1f1f1;
$themeTertiary: #eeeeee;
$themePrimary: #e0e0e0;
$themeLight: #eaeaea;
$themeLighter: #e7e7e7;
$themeLighterAlt: #e4e4e4;
// foreground
$black: #f8f8f8;
$neutralDark: #f4f4f4;
$neutralPrimary: #ffffff;
$neutralPrimaryAlt: #dadada;
$neutralSecondary: #d0d0d0;
$neutralTertiary: #c8c8c8;
$white: #333;
// background
$neutralTertiaryAlt: #7a7a7a;
$neutralQuaternaryAlt: #595959;
$neutralLight: #515151;
$neutralLighter: #444444;
$neutralLighterAlt: #3c3c3c;
